body
{
    background-color: rgb(245,245,245);
}



/* 菜单栏 */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0;


    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

li
{
    text-align: center;
    float: left;
}

li a
{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover
{
    background-color:  rgb(73, 68, 68);
}

#menu
{
    float: right;
    margin-right: 100px;
}



#title
{
    font-size: 30px;
    font-weight: 400;
}



/* 我的项目 */
#program
{
    text-align: center;
    display: block;
}

#ProShow
{
    /* border : 1.5px solid rgb(143, 143, 143); */
    border-radius: 10px;
    width: 300px;
    height: 250px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    box-shadow: 0px 5px 5px #888888;
}

#ProShow:hover
{
    /* border: 1.5px solid rgb(32, 32, 32); */
    /* rgb(3, 104, 236); */
    box-shadow: 0px 10px 10px #636363;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#ProNaame
{
    color: black;
    font-size: 2px;
    /* margin-bottom: 1px; */
}

#ProType
{
    color: rgb(105, 104, 104);
    /* line-height: 5px; */
    font-size: 11px;
    padding: 1px;
}


/* 关于我 */
#about
{
    text-align: center;
    display: block;
}


/* 页脚 */
#footer
{
    text-align: center;
    width: 100%;
    /* background-color: #2A2A2A;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 20px; */
}

#subtitle
{
    font-size: 15px;
    font-weight: 100;
}

#footerlinks
{
    text-decoration: none;
    color: rgb(105, 104, 104);
    font-size: 10px;
}

#footerlinks:hover
{
    color: rgb(32, 32, 32);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#friendlinks
{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 30px;
}

#chatme
{
    display: inline-block;
    vertical-align: top;
    padding: 30px;
}

#blog
{
    text-align: center;
}