ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0px;
}

li
{
    text-align: center;
    float: left;
}

li a
{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
